.algoBet {
  padding-top: 60px;
}
.betWrapper {
  overscroll-behavior: contain;
  will-change: transform;
  pointer-events: none;
  box-sizing: border-box;
  padding: 1.25rem 0px;
  margin: 0px;
  height: 95%;
  line-height: 1.25rem;
  z-index: 100;
  display: flex;
  align-items: flex-end;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 21.25rem;
  -webkit-box-pack: end;
  justify-content: flex-end;
  overflow: hidden;
  .item {
    overscroll-behavior: contain;
    line-height: 1.25rem;
    width: 20rem;
    border-color: $main;
    will-change: transform;
    margin-right: 1.25rem;
    max-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    transition: all 0.25s ease-in-out 0ms;
    border-top-width: 0.1875rem;
    border-top-style: solid;
    background-color: rgb(35, 42, 51);
    box-shadow: rgb(0 0 0 / 18%) 0rem 0.15rem 0.45rem, rgb(0 0 0 / 22%) 0rem 0.8rem 1.8rem;
    transform: translate(0px);
    opacity: 1;
    pointer-events: all;
    z-index: 10;
    min-width: 18.75rem;
    position: relative;
    font-size: 14px;
    &-header {
      padding: 16px;
      text-align: center;
      font-weight: 600;
      .btn-minus {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 32px;
        height: 32px;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 20px;
        padding: 0;
        img {
          margin-right: 0;
          transition: all 0.3s linear;
        }
        &:hover {
          img {
            transform: rotate(90deg);
          }
        }
      }
    }
    &-content {
      transition: all 0.25s ease 0s;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 16px;
      padding-bottom: 50px;
      .item-list {
        list-style: none;
        padding: 0;
        padding-bottom: 24px;
        display: flex;
        gap: 16px;
        flex-direction: column;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }
      .amount {
        position: relative;

        input {
          background: rgba(14, 14, 14, 0.75);
          box-shadow: none;
        }
        .select {
          position: absolute;
          right: 0;
          top: 0;
          padding: 8px;
          cursor: pointer;
          &-option {
            position: absolute;
            top: 40px;
            background: #222224;
            opacity: 0;
            @extend .tran;
            transform: translateY(-15px);
            ul {
              list-style: none;
              padding: 0;
              display: flex;
              flex-direction: column;
            }
          }
          &-active {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }
}
.form-control {
  border-radius: 0;
  border: solid 1px;
  border-color: transparent;
  &::placeholder {
    color: #828282;
  }
  &:focus {
    box-shadow: none;
    outline: none;
    border-color: $main;
  }
}
