/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.tran {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@font-face {
  font-family: "Teko-Regular";
  src: local("Teko-Regular"), url("../fonts/Teko-Regular.ttf") format("truetype");
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1 {
  line-height: 115.8%;
  font-weight: 600;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Allow percentage-based heights in the application */
html,
body,
#root {
  height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter";
  color: $text1;
  font-size: 14px;
  background: #0e0e0e;
}
.app {
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
}

.title-h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  @include mw-768 {
    font-size: 24px;
    display: block;
  }
  h2 {
    @include mw-768 {
      font-size: 24px;
    }
  }
}

.group-view-btn {
  display: flex;
  @include mw-768 {
    justify-content: flex-end;
  }
}

.btn-view {
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  color: $text1;
  border-radius: 0;
  background-color: transparent;
  @extend .tran;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  a {
    color: $text1;
    text-decoration: none;
  }
  @include mw-768 {
    height: 32px;
    font-size: 16px;
  }
}

.btn-view-all {
  width: 124px;
  @include mw-768 {
    height: 32px;
    font-size: 16px;
  }
}

.btn-prev-next {
  width: 48px;
}

.btn-prev {
  margin-left: 24px;
}

.btn-next {
  margin-left: 12px;
}

.title-card {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.card-list::-webkit-scrollbar {
  display: none !important;
}
/* Track */
.card-list::-webkit-scrollbar-track {
  display: none !important;
}
/* Handle */
.card-list::-webkit-scrollbar-thumb {
  display: none !important;
}

.card-list {
  flex-wrap: nowrap;
  overflow-x: auto;
  display: flex;
}
@for $i from 10 through 50 {
  .fs-#{$i} {
    font-size: #{$i}px !important;
  }
}

.font-w100 {
  font-weight: 100 !important;
}
.font-w200 {
  font-weight: 200 !important;
}
.font-w300 {
  font-weight: 300 !important;
}
.font-w400 {
  font-weight: 400 !important;
}
.font-w500 {
  font-weight: 500 !important;
}
.font-w600 {
  font-weight: 600 !important;
}
.font-w700 {
  font-weight: 700 !important;
}
.font-w800 {
  font-weight: 800 !important;
}
.font-w900 {
  font-weight: 900 !important;
}
