
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Teko-Regular';
  src: local('Teko-Regular'), url('../fonts/Teko-Regular.ttf') format('truetype');
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1 {
  text-transform: uppercase;
  line-height: 115.8%;
  font-weight: 600;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Allow percentage-based heights in the application */
html,
body,
#root {
  height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter";
  color: $text5;
  font-size: 14px;
  background: #0E0E0E;
}
 
.container {
  max-width: 1200px;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
}

.title-h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}


.group-view-btn {
  display: flex;
}

.btn-view {
  border: 2px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  color: $text5;
  border-radius: 0;
  background-color: transparent;
  &:hover {
    background-color: rgba(255,255,255,0.2);
  }
  a {
    color: $text5;
    text-decoration: none;
  }
}

.btn-view-all {
  width: 124px;
  margin-right: 24px;
}

.btn-prev-next {
  width: 48px;
}

.btn-prev {
  margin-right: 12px;
}

.title-card {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.card-list::-webkit-scrollbar {
  display: none !important;
}
/* Track */
.card-list::-webkit-scrollbar-track {
  display: none !important;
}
/* Handle */
.card-list::-webkit-scrollbar-thumb {
  display: none !important;
}

.card-list {
  flex-wrap: nowrap;
  overflow-x: auto;
  display: flex;
}