.btn {
  border: none;
  background-color: transparent;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .tran;
  &-cta {
    background-color: #fff;
    font-weight: 600;
    font-size: 20px;
    padding: 12px 34px;
    color: #000;
    img {
      margin-right: 10px;
    }
    &:hover {
      color: #000;
      background-color: $main;
    }
  }
  &-network {
    background-color: rgba(34, 34, 36, 0.75);
    font-weight: 600;
    font-size: 16px;
    padding: 12px 24px;
    color: #fff;
    img {
      margin-right: 10px;
    }
    svg {
      margin-left: 16px;
    }
    &:hover {
      background-color: rgba(34, 34, 36, 0.9);
    }
  }
  // &:hover {
  //   background-color: #fff;
  // }
  &-connect-wallet {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 12px 24px;
    background: #feda00;
    &:hover {
      color: #000000;
      background: #feda00;
    }
  }
  &-border {
    border: 2px solid #ffffff;
    color: #fff;
    &:hover {
      border: 2px solid $main;
    }
  }
  &-main {
    border: 2px solid $main;
    background-color: $main;
    &:hover {
      background-color: $main;
      border: 2px solid #fff;
    }
  }
  &-bet {
    border: 2px solid $main;
    background-color: $main;
    color: #000000;

    &:hover {
      background-color: $main;
      color: #000000;
    }
  }
}

.hover-img {
  figure {
    position: relative;
    overflow: hidden;
    width: fit-content;
    margin-bottom: 0;
    &::before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }
    img {
      width: 100%;
      max-height: 500px;
    }
    &:hover {
      &::before {
        -webkit-animation: shine 0.75s;
        animation: shine 0.75s;
      }
    }
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.no-matchs {
  padding: 52px;
  display: flex;
  justify-content: center;
  img {
    width: 186px;
    height: 156px;
  }
}

.all-football-matches {
  background: #222224;
  padding: 8px;
  margin-top: 40px;
  margin-bottom: 154px;
}

.match-tab {
  display: flex;
}

.tab-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  padding: 24px 16px;
  margin-right: 24px;
  cursor: pointer;
  &.active {
    color: #feda00;
  }
}

.match-rs {
  display: flex;
  img {
    width: 24px;
    height: 24px;
    border-radius: 100px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.match-score {
  margin-left: 12px;
  margin-right: 12px;
}

.table-match {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  th {
    height: 52px;
  }
  td {
    height: 56px;
  }

  th,
  td {
    div:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.bet-box {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 96px;
  height: 28px;
}

.soon {
  background: rgba(247, 65, 65, 0.08);
  border-radius: 24px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #f74141;
  padding: 4px 8px;
}

.table-bet {
  thead {
    tr {
      th:nth-child(n + 6) {
        padding: 18px;
        div:first-child {
          justify-content: flex-end;
        }
      }
    }
  }
  tbody {
    tr {
      td:nth-child(n + 6) {
        padding: 18px;
        div:first-child {
          justify-content: flex-end;
        }
      }
    }
  }
}

.text-odd {
  color: rgba(255, 255, 255, 0.5);
}

.text-win {
  color: #17cb49;
}

.text-lose {
  color: #f74141;
}

.icon-money {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}
