footer {
  background: #0e0e0e;
  box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-s1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.nav-footer {
  display: flex;
  column-gap: 32px;
  a {
    color: $text1;
    text-decoration: none; 
  }
}

.footer-s2 {
  padding: 32px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-s3 {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-lang {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 4px;
  padding-right: 6px;
  cursor: pointer;
  .dd-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  img {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 12px;
  }
}

.text-lang {
  width: 48px;
}
