.header {
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 4rem;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  // background: rgba(0, 8, 20, 0.9);
  z-index: 1000;
  backdrop-filter: blur(2px);
  flex-wrap: wrap;
  @include mw-920 {
    padding: 1rem;
    text-align: center;
  }
  &-left {
    display: flex;
    align-items: center;
  }
  &-logo {
    color: $color-2;
    display: flex;
    font-weight: 700;
    font-size: 1.25rem;
    margin-right: 60px;
    img {
      height: 60px;
      @include mw-1500 {
        height: 40px;
      }
    }
    .logo-text {
      width: 200px;
      margin-left: 10px;
      @include mw-1500 {
        width: 120px;
      }
      @include mw-768 {
        display: none;
      }
    }
  }
  .nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    @include mw-768 {
      display: none;
    }
    .nav-item {
      padding: 32px 12px;
      margin: 0 10px;
      color: #fff;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      opacity: 0.8;
      line-height: 24px;
      border-bottom: solid 2px;
      border-color: transparent;
      &:hover {
        opacity: 1;
      }
      @include mw-920 {
       font-size: 14px;
       padding: 12px;
      }
    }
    .nav-active {
      font-weight: 600;
      border-color: $main;
      opacity: 1;
    }
  }
  .btn--close {
    display: none;
    background-color: transparent;
    border: none;
    @include mw-768 {
      display: block;
    }
  }
  .btn-connect-wallet,
  .btn-network {
    @include mw-768 {
      display: none;
    }
  }
  .mobile {
    position: absolute;
    top: 0;
    display: none;
    list-style: none;
    padding: 0;
    background: rgba(0, 8, 20, 0.9);
    left: -60%;
    width: 60%;
    height: 100vh;
    padding-top: 3rem;
    z-index: 900;
    @include mw-768 {
      display: block;
    }
    li {
      text-align: left;
      padding: 1rem;
      padding-left: 2rem;
      a {
        color: #fff;
        font-weight: 700;
        opacity: 0.7;
        font-size: 1.25rem;
        margin-right: auto;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          opacity: 1;
        }
      }
      .active {
        color: $color-2;
        font-weight: 900;
        opacity: 1;
      }
    }
  }
  .active {
    // left: 0;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }
}
.bg-header {
  background-color: #0e0e0e;
  z-index: 11;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
.gr-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 0;
}
.modal {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background: #0d0d0de6;
  z-index: 101;
  &-wallet {
    width: 776px;
    height: 388px;
    background: #0e0e0e;
    @include mw-768 {
      width: 100%;
    }
  }
  &-header {
    border: none;
    margin-bottom: 20px;
    i {
      cursor: pointer;
    }
  }
  &-body {
    padding: 40px;
    @include mw-768 {
      padding: 16px;
    }
  }
}
.network {
  &-list {
    display: grid;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    @include mw-768 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &-item {
    flex: 1;
    display: flex;
    background: rgba(34, 34, 36, 0.75);
    display: flex;
    align-items: center;
    padding: 12px 32px;
    border: solid 1px;
    border-color: transparent;
    @extend .tran;
    cursor: pointer;
    img {
      margin-right: 10px;
    }
    &:hover {
      border-color: $main;
      background: rgba(254, 218, 0, 0.08);
    }
  }
  &-active {
    border-color: $main;
    background: rgba(254, 218, 0, 0.08);
  }
}
