.hero {
  height: 100vh;
  min-height: 900px;
  position: relative;
  .swiper {
    height: 100vh;
    min-height: 900px;
  }
  &-item {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 1200px;
    height: 100%;
    padding-top: 100px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    z-index: 3;
    color: #fff;
    background: #1a1b26;
    opacity: 0.5;
    border: solid 1px $main;
    width: 48px;
    height: 72px;
    &::after {
      font-size: 18px;
    }
  }
  .container {
    height: 100%;
  }
  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &-match {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 64px;
    }
    .worldcup {
      width: 200px;
    }
    .bottom {
      display: flex;
      margin-top: 30px;
      gap: 16px;
      &-item {
        width: 176px;
        height: 48px;
        align-items: center;
        display: flex;
        background: #ffffff;
        padding: 0 16px;
        color: #222224;
        justify-content: space-between;
        .left {
          display: flex;
          align-items: center;

          img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
          }
        }
        span {
          font-weight: 600;
        }
      }
    }
  }
}
.match {
  padding: 60px 0;
  .card-list {
  }
  &-item {
    background: #222224;
    padding: 0;
    margin-right: 24px;
    .inner {
      width: 276px;
      height: 240px;
      padding: 16px 24px;
      display: flex;
      gap: 24px;
      flex-direction: column;
      .flags {
        display: flex;
        align-items: center;
        &-item {
          width: 40px;
          height: 40px;
          background: #343436;
          border: solid 2px #222224;
          border-radius: 50%;
          padding: 8px;
          z-index: 2;
          display: flex;
          align-items: center;
          img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &:last-child {
            margin-left: -5px;
            z-index: 1;
          }
        }
      }
      .bottom {
        display: flex;
        gap: 8px;
        width: 100%;
        &-item {
          flex: 1;
          background: rgba(255, 255, 255, 0.08);
          border: 1px solid rgba(255, 255, 255, 0.3);
          text-align: center;
          padding: 5px;
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
        }
        .green {
          border-color: $green;
        }
        .red {
          border-color: $red;
        }
      }
    }
  }
}
.cta {
  background: radial-gradient(53.19% 2992.19% at 50% 50%, #7b6901 0%, #161301 100%);
  overflow: hidden;
  height: 192px;

  &-inner {
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      width: 210px;
    }
  }
  &-list {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}
.featured {
  padding: 60px 0;
  &-list {
    display: flex;
    gap: 24px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    img {
      margin-bottom: 8px;
    }
  }
}
.countdown {
  display: flex;
  align-items: center;
  padding-top: 30px;
  .flags {
    display: flex;
    align-items: center;
    &-item {
      width: 40px;
      height: 40px;
      background: #ffffff;
      border: solid 2px #222224;
      border-radius: 50%;
      padding: 8px;
      z-index: 2;
      display: flex;
      align-items: center;

      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:last-child {
        margin-left: -8px;
        z-index: 1;
      }
    }
  }
  .time {
    display: flex;
    margin-left:16px;
    gap: 5px;
    &-item {
      display: flex;
      flex-direction: column;
      height: 40px;
      align-items: center;
    }
  }
}
